RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php/ [QSA,L]

# RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]

# RewriteRule "^(.+)$" /6.API-REST-SPA-BLOG2/view/$1.html [QSA,L]



