.container-{
  @include setBorder($color: $white, $radius: 12px);
  box-shadow: 0px 0px 12px 3px $white;
  @include displayFlex($gap: 2rem);
  &700{
    @extend .container-;
    @include displayFlex($aContent: space-around,$gap: 2rem);
    @include setBounds($pad: 4rem 2rem, $mar: 1rem 0);
    max-width: 720px;
  }
  &1140{
    @extend .container-;
    @include setBounds($pad: 3rem 2rem, $mar: 1rem auto);
    max-width: 1140px;
  }
  &1280{
    @extend .container-;
    @include setBounds($pad: 4rem 2rem, $mar: 1rem auto);
    max-width: 1280px;
  }
}

.form-container{
  flex: 1 1 100%;
  @include displayFlex($flow: column nowrap, $gap:.5rem);
}