.blogHeader{
  @include displayFlex($justify: space-between);
  @include setBounds($pad: 1rem 3rem);
  @include setBackground($color: $main);
}

.blogHeader h1{
  @include setLetter($size: 3.2rem, $color: $white, $spacing: 2px);
}

.navHeader ul{
  @include displayFlex($gap: 3rem);
}

.navHeader ul li{
  list-style: none;
}

.navLink{
  display: block;
  position: relative;
  @include setLetter($size: 1.8rem, $color: $white);
  &::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 0%;
    background-color:$white;
    @include setTransition(width .5s ease 0s, padding .1s ease .5s);
  }
  &:hover::before{
    padding: 1px;
    width: 100%;
    @include setTransition(width .5s ease .1s, padding .1s ease 0s);
  }
}

.imgUser{
  display: block;
  @include setBounds(48px,auto,0, 0 auto);
}