.blogHeader{
  position: relative;
  @include displayFlex($justify: space-between);
  @include setBounds($pad: 1rem 3rem);
  @include setBackground($color: $main);
}

.blogHeader h1{
  @include setLetter($size: 3.2rem, $color: $white, $spacing: 2px);
}

.hbgMenu-4{
  display: none;
  cursor: pointer;
}

.menuLine{
  display: block;
  @include setBounds($width: 100%, $mar: 1px 0);
  border: 2px solid $white;
  @include setTransition(all .3s ease 0s);
}

.navHeader ul{
  @include displayFlex($gap: 3rem);
}

.navHeader ul li{
  list-style: none;
  cursor: pointer;
}

.navLink{
  display: block;
  @include setPosition(relative);
  @include setLetter($size: 1.8rem, $color: $white);
  &::before{
    content: "";
    @include setPosition($pos: absolute, $t: 100%, $l: 0);
    width: 0%;
    @include setBackground($color: $white);
    @include setTransition(width .5s ease 0s, padding .1s ease .5s);
  }
  &:hover::before{
    @include setBounds($width: 100%, $pad: 1px);
    @include setTransition(width .5s ease .1s, padding .1s ease 0s);
  }
}

.imgUser{
  display: block;
  @include setBounds(48px,auto,0, 0 auto);
}

.searchUser{
  @include displayFlex($aItems:stretch, $gap: 1rem);
}

// .line{
//   width: 50%;
//   &1,&2,&3,&4{
//     @extend .line;
//   }
//   &1{
//     @include setTransform(translateX(3px), rotateZ(45deg));
//   }
//   &2{
//     @include setTransform(translateX(calc(100% - 3px)), translateY(-5px), rotateZ(-45deg));
//   }
//   &3{
//     @include setTransform(translateX(calc(100% - 3px)), translateY(5px), rotate(45deg));
//   }
//   &4{
//     @include setTransform(translateX(3px), rotate(-45deg));
//   }
// }

@media screen and (max-width: 960px){
  .hbgMenu-4{
    display: block;
    @include setBounds($width: 50px, $pad: 1px);
    @include setBorder($color: white);
  }

  // .hbgMenu-4:hover .menuLine:nth-child(1){
  //   @include setTransform(translateX(3px), rotateZ(45deg));
  //   width: 50%;
  // }

  // .hbgMenu-4:hover .menuLine:nth-child(2){
  //   @include setTransform(translateX(calc(100% - 3px)), translateY(-5px), rotateZ(-45deg));
  //   width: 50%;
  // }

  // .hbgMenu-4:hover .menuLine:nth-child(3){
  //   @include setTransform(translateX(calc(100% - 3px)), translateY(5px), rotate(45deg));
  //   width: 50%;
  // }

  // .hbgMenu-4:hover .menuLine:nth-child(4){
  //   @include setTransform(translateX(3px), rotate(-45deg));
  //   width: 50%;
  // }
  
  .navHeader{
    @include setBounds($width: 100vw, $height: calc(100vh - 100%));
    @include setPosition($pos: absolute, $t: 100%, $l: 0, $z: 10);
    @include setBackground($color: $dark);
    @include setTransition(all .5s ease 0s);
  }

  .navHeader ul{
    @include setBounds(100%,100%, $pad: 1rem 0);
    @include displayFlex($justify: space-between, $aItems: stretch, $gap: 0, $flow: column wrap)
  }

  .navHeader ul > *{
    width: 100%;
    flex: 1 1 auto;
  }

  .navLink{
    text-align: center;
  }
}